<{$story.style}>
<{$story.script}>
<table width="100%" border="0" cellspacing="10" cellpadding="0"><tr><td>
<div style="text-align: left; margin: 10px;"></div>
<div class="item">
<table class="itemHead" cellspacing="10" style="text-align: left;"><tr><td><span class="itemTitle"><h2>&nbsp;<{$story.title}></h2></span></td></tr></table>
<table class="itemInfo" cellspacing="10" style="text-align: left;"><tr><td><{$story.navheader}></td></tr></table>
<table class="itemBody" cellspacing="10" style="text-align: left;"><tr><td><{$story.text}></p></td></tr></table>
<table class="odd" cellspacing="10" style="text-align: left;"><tr><td><{$story.comments}></td></tr></table>
<table class="itemFoot" cellspacing="10" style="text-align: left;"><tr><td><{$story.navfooter}></td></tr></table>
</div>
</div>
</td></tr></table>
<div class=errorMsg><{$story.debug}></div>